<html ng-app="groomMaPosse">

	<head>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link rel="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.css"></link>
	</head>
<body ng-controller="Main">
	Facebook Graph API
	<form ng-submit="login()">
		<input ng-model="username"/>
		<input ng-model="password"/>
		<button type="submit">Login</button>
	</form>
</body>
</html>